*{
    margin: 0;
    padding: 0;

}

span{
    display: block;
}
.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
.canvas h1{
    margin-bottom: 40px;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: inline-block;
}

#grey{
    background: grey;
}
#yellow{
    background: yellow;
}
#white{
    background: white;
}
#purple{
    background: purple;
}

.canvas h2{
    margin-top: 30px;
}